<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
</head>
<body>
<div class="panel" data-color:"blue">
    <div class="parallaxScrollOne">
        <div id="parallax"><h1 class="parallaxH1"></h1></div>
    </div>
</div>

<div class="panel" data-color:"violet">
        <div class="parallaxScrollTwo">
            <h1 class="otherh1">about me.</h1>
        </div>


        <div id="dockingPhoto"><a href="PLACEHOLDERcontact" class="dockingPhoto-ContactMe">Contact.</a></div>



        <h3 class="aboutMeBody">Obsessed with learning and playing with new technologies.  I have dedicated my time to make easy to use websites that are functional, gorgeous, while remaining intuitive.</h3>
        
        <h3 class="aboutMeBody">My dream is to build you a digital space that is about your product or service that sells your branding.  Your customers want to buy the experience that you have built, and I can provide them the framework to connect THEM to YOU.</h3>

        <h3 class="aboutMeBody">My favorite thing about being a full stack developer is that I can never get bored!  There is always more to learn and more to improve on.  I can work on any part of a team both large and small and be immediately gainfully employed.  Immediately productive.  Immediately an asset.</h3>
</div>
<div class="panel" data-color="brown">
    <div class="parallaxScreenShotBox mx-auto" >
        <h1 class="parallaxScreenShotH1" >projects.</h1>
        <video class="parallaxScreenShot" loop autoplay>
            <source src="img/Screencast from 10-21-2019 09:09:38 PM.webm">
            Sorry, Your browser doesn't support embeded webm videos.
            </video>
    </div>
</div>

<div class="panel" data-color="green">
    <h2>Green panel</h2>
</div>



















<script>

window.onscroll = function() {myFunction()};

// Function to dock the photo to the side.  Listens to a pixel count.  Can i change that to listen to a dom element scroll by?
function myFunction() {
  if (document.body.scrollTop > 1425 || document.documentElement.scrollTop > 1425) {
    document.getElementById("dockingPhoto").className = "dockingPhoto-Scrolled";
  } else {
    document.getElementById("dockingPhoto").className = "dockingPhoto-NonScrolled";
  }
}

// Function to move the beginning 3d profile picture
    (function() {
    // Add event listener
    document.addEventListener("mousemove", parallax);
    const elem = document.querySelector("#parallax");
    // Magic happens here
    function parallax(e) {
        let _w = window.innerWidth/2;
        let _h = window.innerHeight/2;
        let _mouseX = e.clientX;
        let _mouseY = e.clientY;
        let _depth1 = `${50 - (_mouseX - _w) * 0.01}% ${50 - (_mouseY - _h) * 0.01}%`;
        let _depth2 = `${50 - (_mouseX - _w) * 0.02}% ${50 - (_mouseY - _h) * 0.02}%`;
        let _depth3 = `${50 - (_mouseX - _w) * 0.06}% ${50 - (_mouseY - _h) * 0.06}%`;
        let x = `${_depth3}, ${_depth2}, ${_depth1}`;
        console.log(x);
        elem.style.backgroundPosition = x;
    }

})();

// Function to Parallax different colors. 
$(window).scroll(function() {
  
  // selectors
  var $window = $(window),
      $body = $('body'),
      $panel = $('.panel');
  
  // Change 33% earlier than scroll position so colour is there when you arrive.
  var scroll = $window.scrollTop() + ($window.height() / 3);
 
  $panel.each(function () {
    var $this = $(this);
    
    // if position is within range of this panel.
    // So position of (position of top of div <= scroll position) && (position of bottom of div > scroll position).
    // Remember we set the scroll to 33% earlier in scroll var.
    if ($this.position().top <= scroll && $this.position().top + $this.height() > scroll) {
          
      // Remove all classes on body with color-
      $body.removeClass(function (index, css) {
        return (css.match (/(^|\s)color-\S+/g) || []).join(' ');
      });
       
      // Add class of currently active div
      $body.addClass('color-' + $(this).data('color'));
    }
  });    
  
}).scroll();


</script>
</body>
</html>

